:root {
  --main-color: #212121;
  --main-background-color: rgba(255, 243, 224, 0.7);
  --main-background-color2: rgba(255, 248, 225, 0.9);
  --main-box-shadow-color: #ababab;
  --main-image-border: #8d6e63;
  --main-image-border-hover: #ff9800;
  --main-h1-color: #3f51b5;
  --main-bitcoin: #ff5722;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  color: var(--main-color);
  background: url("../assets/background12.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-width: 450px;
  margin: 1rem;
}

h1 {
  text-align: center;
  color: var(--main-h1-color);
}

p {
  user-select: none;
}

.skills-table,
.employees-table {
  width: 100%;
  padding: 0.3rem;
  background-color: var(--main-background-color2);
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.3rem var(--main-box-shadow-color);
}

/******************************** Main area ************************************************/
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container {
  min-width: auto;
  margin: 1rem 0.6rem 0 0.6rem;
}

.clicking-area-container {
  text-align: center;
  background-color: var(--main-background-color);
  margin: 1rem 0.6rem 0 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.3rem var(--main-box-shadow-color);
}

.bit-coin {
  cursor: pointer;
  user-select: none;
}

.bit-coin:hover {
  transform: scale(1.1);
}

.upgrade-stats-cell {
  width: 64px;
}

.upgrade-icon-cell {
  width: 0.7rem;
  padding: 0.3rem;
  user-select: none;
  cursor: pointer;
  opacity: 0.8;
}

.upgrade-icon-cell:hover {
  opacity: 1;
}

.skill-image {
  width: 6rem;
  border-radius: 5%;
  border: 0.2rem solid var(--main-image-border);
}

.skill-image:hover {
  border: 0.2rem solid var(--main-image-border-hover);
}

.js-gold-area > p:first-child {
  color: var(--main-bitcoin);
}

/******************************** Footer area ************************************************/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-background-color2);
  color: var(--main-color);
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}

/******************************** Media queries ************************************************/
@media screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "gold gold"
      "perclick persec";
  }

  .inventory-container.per-click {
    grid-area: perclick;
  }

  .inventory-container.per-sec {
    grid-area: persec;
  }

  .clicking-area-container {
    grid-area: gold;
  }
}

@media screen and (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "gold"
      "perclick"
      "persec";
  }
}