html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  color: #212121;
  background-color: #F5F2ED;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-width: 540px;
  margin: 18px;
}

.skills-table, .business-table {
  width: 100%;
}

/******************************** Main area ************************************************/
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container {
  min-width: 540px;
}

.clicking-area-container {
  text-align: center;
}

.bit-coin {
  cursor: pointer;
  user-select: none;
}

.bit-coin:hover{
  transform: scale(1.1);
}

.upgrade-stats-cell {
  width: 64px;
}

.upgrade-icon-cell {
  width: 110px;
  padding: 5px;
}

.skill-image {
  width: 100px;
  border-radius: 5%;
}

@media screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "gold gold"
    "perclick persec";
  }

  .inventory-container.per-click {
    grid-area: perclick;
  }
  
  .inventory-container.per-sec {
    grid-area: persec;
  }
  
  .clicking-area-container {
    grid-area: gold;
  }
}

@media screen and (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "gold"
    "perclick"
    "persec";
  }
}

@media screen and (max-width: 576px) {
  
}